name: Build
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - 'v*.*'
  pull_request:
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@v1.3.1

      - name: Fetch Sources
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin

      - name: Build and Test the Plugin
        uses: ./.github/actions/gradle-build
